# Ignore build
build*

# Ignore binaries
bin/

# Ignore lib files
lib/

# Ignore vscode files
.vscode/

# Ignore dump files
*.nfcap

# Ignore pcap files unless they are in the tests/pcap directory
# (which is used for testing purposes)
*.pcap
!tests/pcap/*.pcap

# Ignore config files
nfcap/config.h